.card.card__detail {
  padding: .5rem;
  border: 2px solid rgb(239, 235, 235);
  background: rgb(255,255,255);
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
  width: 50em;
}

.card__detail:hover {
  box-shadow: 0px 4px 20px rgba(243, 241, 241, 0.945);
}

.card__detail {
  width: 100px;
  height: 100px;
}

/* Estilo normal del SVG dentro de la tarjeta */
.card__img__detail {
  transition: transform 0.3s; /* Transición suave para la transformación */
}

/* Efecto hover del SVG dentro de la tarjeta */
.card__img__detail:hover {
  transform: scale(1.1); /* Escala ligeramente más grande en el eje Z */
}

.card__img__detail {
  width: 100px;
  height: 100px;
}

.itemImg.card__img__detail {
  width: auto;
}

picture {
  padding: 10px;
}

section {
  padding: 10px;
}

.btn.btn__finally {
  width: 100%;
  margin-top: 10px;
  background-color: #3483fa7e;
  color: #3483fa;
  font-weight: bold;
}

.btn.btn__finally:hover {
  background-color: #3483fa7e;
  color: #3483fa;
}

.btn.btn__continue {
  background-color: #3483fa;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

.btn.btn__continue:hover {
  background-color: #3483fadc;
  color: #fff;
}

/* SECCION TARJETA DE DETALLE DE PRODUCTO */
.Info__category {
  font-weight: 600;
  font-size: 1.3em;
}

.Info__price {
  font-size: 1.7em;
  font-weight: 600;
}
