.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(241, 236, 236);
    padding: 5px;
}

.navbar-expand-lg .navbar-collapse .btn__home {
    background-color: #fd7e14;
    color: #ffffff;
}

.navbar-expand-lg .navbar-collapse .btn__categories {
    background-color: rgb(254, 252, 252);
    color: rgb(17, 16, 16);
}

.nav__container {
    display: flex;
    justify-content: space-around;
}

.btn {
  color: rgb(13, 13, 13);
  background-color: transparent; 
}

.btn.btn__categories, 
.btn.btn__categories:hover
{
  color: rgb(17, 17, 17);
  background-color: white; 
}

a.btn {
  color: white;
}

a.nav__logo { 
  color: white;
  font-family: 'agbalumo', Arial, Helvetica, sans-serif;
  transition: transform 0.5s; 
}

a.nav__logo:hover {
  transform: scale(1.5);
  color: #fd7e14;
}

button.button__display {
  background-color: white;
}

.cart__form {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.cart__padding {
  margin-right: 10px;
}

.con__links {
  display: flex;
  justify-content: space-evenly;
}